*{
    background-color: bisque;
}
.image{
    height:300px;
    width:300px;
}
#actors{
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,310px);
    grid-template-rows: repeat(3,310px);
    grid-gap: 20px;
    
}
